aliases/*
!aliases/CMakeLists.txt
!aliases/aliases.cpp

exam/*
!exam/CMakeLists.txt
!exam/exam.cpp

function-templates/*
!function-templates/CMakeLists.txt
!function-templates/function-templates.cpp

parameterized-types/*
!parameterized-types/CMakeLists.txt
!parameterized-types/parameterized.cpp

value-template-args/*
!value-template-args/CMakeLists.txt
!value-template-args/value-template-args.cpp

variable-templates/*
!variable-templates/CMakeLists.txt
!variable-templates/variable-templates.cpp
